@media(max-width:1000px){
    body{
        background-color: aqua;
    }
}
@media(max-width:768px){
    body{
        background-color:aquamarine;
    }
    .navBar {
        display: none;
    }
    .nar-slide-toggle-btn {
        display: block;
    }
    .sec-section-content {
        flex-direction: column;
    }
    .sec-content {
        width: 100%;
        height: 450px;
    }
    .flex-content {
        flex-direction: column;
    }
    .pricing-contents-container {
        background-color: #29282D;
        width: 100%;
        padding: 30px;
    }
}
@media(max-width:640px){
    body{
        background-color:azure;
    }
    .nav-slide-container{
        width: 100%;
    }
}
@media(max-width:400px){
    body{
        background-color:blueviolet;
    }

}