*{
    box-sizing: border-box;
}
:root{
    --global-main-text-and-bg-color: #F34E3A;
    --global-bg-secondary-color: rgb(10, 10, 10);
    --global-color-black : #000;
}
.main-head {
    width: 100%;
}

.main-menu {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.main-menu-slide {
    background-color: #000;
    position: sticky;
    left: 0;
    top: 0;
    animation: head-ani 0.5s linear 0s 1 forwards;
}
@keyframes head-ani{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.nav-list .nav-list-items{
    padding: 25px 0px;
}
.nav-list .nav-list-items a{
    padding: 15px 10px ;
    position: relative;
    font-size: 13px;
    /* background-color: antiquewhite; */
}
.nav-list .nav-list-items a::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 3px;
    left: 0;
    bottom: 0;

    transition: all 0.5s ease 0s;

}
.nav-list .nav-list-items a:hover::before,.nav-list .nav-list-items a:hover{
    width: 100%;
    color: var(--global-main-text-and-bg-color);
}
.nav-list .nav-list-items a:hover::before,.nav-list .nav-list-items i{
    padding-left: 10px;
}
.nar-slide-toggle-btn {
    display: none;
}
.btn-container {
    padding: 30px;
}
.btn-container div{
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin: 5px 0px;
}
.btn-container div:nth-child(2){
    width: 20px;
}
.btn-container:hover div{
    background-color: var(--global-main-text-and-bg-color);
}
.nav-slide-container {
    width: 400px;
    background-color: #000;
    padding: 0px 20px 50px 20px;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 0.5s linear 0s;
}
.nav-slide-container-show-hide{
    left: 0%;
}
.logoAndCloseBtn-container .close-btn i {
    font-size: 20px;
    cursor: pointer;
}
.logoAndCloseBtn-container .close-btn i:hover{
    color: var(--global-main-text-and-bg-color);
}
.slide-navBar {
    padding-top: 30px;
}
.slide-nav-list {
    width: 100%;
}
.slide-nav-list .slide-nav-list-items{
    padding: 0px 10px;
}
.slide-nav-list .slide-nav-list-items a{
    width: 100%;
    padding: 10px 0px;
}
.slide-nav-list .slide-nav-list-items div {
    width: 50px;
}
.slide-nav-list .slide-nav-list-items div i{
    padding: 8px;
    transition: all 0.3s linear 0s;
    color: #fff;
}
.slide-nav-list .slide-nav-list-items div .angle-rotate {
    color: var(--global-main-text-and-bg-color);
    transform: rotate(180deg);

}

.intro_container {
    height: 80vh;
    background-color: var(--global-bg-secondary-color);
    z-index: -1;
    
}
.intro_latter h1{
    font-size: 100px;
    color: var(--global-main-text-and-bg-color);
}

.introWave {
    width: 100%;
    height: 50%;
    position: absolute;
    fill: var(--global-color-black);
    bottom: 0;
    left: 0;
}
.contact-box {
    background-color: #000;
    padding: 20px;
}
.contact-box-left-container ,.contact-box-right-container {
    flex: 1;
    padding: 20px;
}
.contact-box-left-container{
    background-color: #fff;
}
.map-container {
    width: 100%;
    height: 200px;
}
.contact-box-left p,.contact-box-left address ,.contact-box-left div{
    font-size: 20px;
    margin: 10px 0px;
}
.contact-box-left address{
    font-size: 25px;
}
.contact-box-left div span a {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: var(--global-main-text-and-bg-color);
}
.contact-box-right h1 {
    font-size: 40px;
    line-height: 100px;
    color: #fff;
}
.contact-box-right h1::before{
    content: "";
    width: 30%;
    height: 3px;
    background-color: var(--global-main-text-and-bg-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.content-form {
    width: 100%;
}
.content-form .form-group label ,.content-form .form-group input {
    padding: 20px 0px;
    display: block;
    width: 100%;
}

.content-form .form-group {
    width: 100%;
}
.content-form .form-group label{
    font-size: 20px;
    
}
.content-form .form-group label::after{
    content: "*";
    color: red;
    margin-left: 5px;
}
.content-form .form-group input {
    padding: 10px;
    outline: none;
}
.input-text {
    border-radius: 5px;
    background-color: #fff;
}
.content-form .form-group input:focus{
    outline: none;
}
.name-group {
    gap: 20px;
}
.comment {
    width: 100%;
    height: 150px;
    /* resize: none; */
}

.logIn-form-group button ,.content-form button{
    margin: 20px 0px;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--global-main-text-and-bg-color);
    color: #fff;
}
.section-content-container {
    height: 130vh;
    /* background-color: antiquewhite; */
    background-image: url("../img/bg_image/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-content {
    width: 1000px;
}
.section-content h3{
    color: var(--global-main-text-and-bg-color);
    font-size: 30px;
}
.section-content h1{
    color: var(--global-main-text-and-bg-color);
    font-size: 100px;
}
.section-content p {
    color: #fff;
    font-size: 20px;
}
.section-content a {
    color: #fff;
    margin-top: 20px;
    background-color: var(--global-main-text-and-bg-color);
    padding: 20px 30px;
}
.modelBox-container {
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    transform: scale(0) translateY(-100%);
    
    opacity: 0;
    transition: all 0.5s ease 0s;

}
.modelBox-container-ani {
    transform: scale(1) translateY(0%);

    opacity: 1;
}
.modelBox-container {
    width: 100%;
    height: 100vh;
}
.logIn_page {
    width: 500px;
}
.adm_logIn_page {
    display: none;
}
.logIn_page h1{
    font-size: 30px;
}
.logIn_page .logIn-form-group{ 
    padding: 20px;
    background-color: #f4f4f4;
}

.logIn_page .logIn-form-group .form-group label{
    display: block;
    padding: 5px 0px;
}
.logIn_page .logIn-form-group .form-group input {
    padding: 10px;
    display: block;
    width: 100%;
}
.modelClose {
    color: #fff;
    right: -20px;
    top: -20px;
    cursor: pointer;
}